@supports (display: grid) 
{
  .grid {
    display: grid;
    margin-inline: auto;
    grid-gap: 1.5vw;
    min-height: 100vh;
    padding: 1.5vw;
    grid-template-columns: repeat(2, 1fr);
     grid-template-areas:
      "hero med1"
      "hero med2"
  }


  .grid .item:nth-child(1)  { grid-area: hero; }
  .grid .item:nth-child(2)  { grid-area: med1; }
  .grid .item:nth-child(3)  { grid-area: med2; }
  .grid .item:nth-child(2)  { flex: 0 1 calc(100%); }
  .grid .item:nth-child(3)  { flex: 0 1 calc(100%); }
  
.card{
     margin-inline: auto;
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: center;
     width: 720px;
     height: 240px;
     overflow: hidden;
     /*border-radius: 45px;*/
     background-color: darkgrey;
}

}