body{
background-color: #D22B2B;

}

/*FOR NAME*/
.press-start-2p-regular {
  font-family: "Press Start 2P";
  font-weight: 460;
  font-style: normal;
}
/*FOR ENTRY*/
.pixelify-sans {
  font-family: "Pixelify Sans";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.vt323-regular {
  font-family: "VT323";
  font-weight: 400;
  font-style: normal;
}


.row {
  display: flex;
  width: 75%;
  margin: auto;
  margin-top: 20px;
  column-gap: 20px;
  margin-block-end: 20px;
  justify-content: center;
  align-content: center;
  border-spacing: 15px 12px;
 

}

.row::after{
  content: "";
  clear: both;
  display: flex;
  margin: auto;
}


.container{
    display: flexbox;
    width: 50%;
    padding-block-end: 2%;
    max-height: 460px;
    margin: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 8px;
    border: 3px solid black;
    background-color: white;
    text-align: center;
    flex-wrap: wrap;

}



.number{
  justify-self: flex-start;
  font-family: "Press Start 2P";
  color: black;
  position: absolute;
  padding: 2px 5px;
  margin-top: 2px;
  font-size: 12px;
  flex-wrap: wrap;
}

img{
    object-fit:contain;
    height: 125px;
}

.floating{
    animation: float 10s infinite linear;
    object-fit:contain;
    height: 125px;
    width: 100%;
    }

 @keyframes float {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  25% {
    transform: rotate(10deg) translate(20px, 3px);
  }
  50% {
    transform: rotate(-10deg) translate(-3px, 13px);
  }
  75% {
    transform: rotate(8deg) translate(-16px, -10px);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
 }

 .bounce{
animation: bounce 0.8s ease infinite;

}

@keyframes bounce{
  50% {
    transform: translateY( -5px) scaleX( 0.95 ) scaleY( 1.03 );
  }
  0%,100% {
    transform: scaleX( 1 ) scaleY( 1 );}
  }
/*TYPES*/
.grass { 
    
    color: white;
    background-color:forestgreen;
    border: 2px solid darkslategrey;
}
.rock {
    background-color:tan;
    border: 2px solid darkgoldenrod;
}
.water {
    background-color:dodgerblue;
    border: 2px solid darkblue;
}
.dragon {
    color: white;
    background-color: rgb(106, 119, 233);
    border: 2px solid navy;
}

.fire {
    background-color:orangered;
    border: 2px solid firebrick;
}
.poison {
    background-color:mediumslateblue;
    border: 2px solid indigo;
}



p { 
    font-family: "Pixelify Sans";
    text-align: center;
    font-size: 14px;
    color: brown;
    margin: 5px;

}


.entry{
  display:flexbox;
  justify-content: center;
  align-content: center;
  font-family: "Pixelify Sans";
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  }


.name{ 
    display: flex;
    align-self: center;
    justify-self: center;
    font-family: "Press Start 2P";
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:26px;
} 



