@import "animations.css";
body{
margin: 0;
}


/*FOR NAME*/
.press-start-2p-regular {
  font-family: "Press Start 2P";
  font-weight: 460;
  font-style: normal;
}
/*FOR ENTRY*/
.pixelify-sans {
  font-family: "Pixelify Sans";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.vt323-regular {
  font-family: "VT323";
  font-weight: 400;
  font-style: normal;
}


/*TYPES*/

.unknown {
  background-color: #68A090;
  border: 2px solid #44685E;
}

.grass {
     background-color: #3FA129;
    border: 2px solid #29691B;
}
.rock {

    background-color: #AFA981;
    border: 2px solid #726E54;
}
.water {
    background-color:#2980EF;
    border: 2px solid #1B539B;
}
.dragon {

    background-color: #8D98EC;
    border: 2px solid #5060E1;
}

.fire {

    background-color:#E62829;
    border: 2px solid #961A1B;
}
.poison {

    background-color: #9141CB;
    border: 2px solid #5E2A84;
}

.bug {
  background-color: #91A119;
  border: 2px solid #5E6910;
}

.flying
{background-color: #ADD2F5;
  border: 2px solid #81B9EF;}

.fighting {background-color: #FF8000;
border: 2px solid #A65300;}

.ground {background-color: #915121;
  border: 2px solid #5E3515;
}

.ghost { background-color: #704170;
border: 2px solid #492A49;}

.steel{background-color: #98C2D1;
border: 2px solid #60A1B8;}

.electric {background-color: #FAC000;
border: 2px solid #A37D00;}

.psychic {background-color: #EF4179;
border: 2px solid #9B2A4F;}

.ice{background-color: #3DCEF3;
border: 2px solid #28869E;}

.dark {background-color: #624D4E;
border: 2px solid #403233;}

.fairy {background-color: #EF70EF;
 border: 2px solid #9B499B; }

.gray {color: gray;
    font-family: "Pixelify Sans";
    text-align: center;
    font-size: 18px;
    margin: 5px;}

