body{
background-color: #D22B2B;

}

/*FOR NAME*/
.press-start-2p-regular {
  font-family: "Press Start 2P";
  font-weight: 460;
  font-style: normal;
}
/*FOR ENTRY*/
.pixelify-sans {
  font-family: "Pixelify Sans";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.vt323-regular {
  font-family: "VT323";
  font-weight: 400;
  font-style: normal;
}


.row {
  width: 75%;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-spacing: 15px 12px;
}

.container::after, .number::after, 
.row::after{
  content: "";
  clear: both;
  display: table;
}


.container{
    display: table-cell;
    border-radius: 8px;
    border: 3px solid black;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 33.3%;
}


.number{
  display: block;
  font-family: "Pixelify Sans";
  color: black;
  position:absolute;
  float: left;
  padding-top: 30px;
  font-size: 16px;
}

img{
    object-fit:contain;
    height: 125px;
    width: 100%;
}

.floating{
    animation: float 10s infinite linear;
    object-fit:contain;
    height: 125px;
    width: 100%;
    }

 @keyframes float {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  25% {
    transform: rotate(10deg) translate(20px, 3px);
  }
  50% {
    transform: rotate(-10deg) translate(-3px, 13px);
  }
  75% {
    transform: rotate(8deg) translate(-16px, -10px);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
 }

 .bounce{
animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
  50% {
     transform: translateY(-3px);
  }
}

.grass { 
    
    color: white;
    background-color:forestgreen;
    border: 2px solid darkslategrey;
}
.rock {
    background-color:tan;
    border: 2px solid darkgoldenrod;
}
.water {
    background-color:dodgerblue;
    border: 2px solid darkblue;
}
.dragon {
    color: white;
    background-color: rgb(106, 119, 233);
    border: 2px solid navy;
}

.fire {
    background-color:orangered;
    border: 2px solid firebrick;
}
.poison {
    background-color:mediumslateblue;
    border: 2px solid indigo;
}



p { 
    font-family: "Pixelify Sans";
    text-align: center;
    font-size: 14px;
    color: brown;
    line-height: 150%;

}

#entry{
  align-content: space-evenly;
  align-items: center;
  list-style-type: none;
  font-family: "Pixelify Sans";
  text-align: center;
  padding: 12px;
  
}


.details{
  display:grid;
  }

.number{
  display: block;
  font-family: "Press Start 2P";
  color: black;
  position: absolute;
  padding: 2px 5px;
  margin-top: 2px;
  font-size: 12px;
  flex-wrap: wrap;

}

.name{ 
    justify-self: center;
    font-family: "Press Start 2P";
    font-size:26px;
    margin-top: 16px;
} 



